{% extends "A2lixDemoTranslationBundle::layout.html.twig" %}

{% block content %}
<h1>Product {{ entity.id ? 'edition' : 'creation' }}</h1>

<form action="{{ entity.id ? path('product_edit', { 'id': entity.id }) : path('product_new') }}" method="post" {{ form_enctype(editForm) }}>
    {# ex 1 #}
    {{ form_row(editForm.title) }}
    {{ form_row(editForm.description) }}
    {{ form_row(editForm.translations) }}
      
        
    {# ex 2
    {{ form_widget(editForm.translations, {fields : [editForm.title, editForm.description]}) }}
    #}

    {{ form_rest(editForm) }}    
        
    <p>
        <button type="submit">{{ entity.id ? 'Edit' : 'Create' }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    {% if entity.id %}
    <li class="delete">
        <form action="{{ path('product_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(deleteForm) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endif %}
</ul>
{% endblock %}