{% block form_row %}
{% spaceless %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}




{% block _product_categories_widget %}
<div id="{{ form.vars.id }}" class="collection categories">
    {% for media in form %}
        {{ form_widget(media) }}
    {% endfor %}
    <a href="#" data-collection="add">Add a category</a>
</div>
{% endblock %}

{% block _product_categories_entry_widget %}
<div class="collection-entry category">
    {{ form_row(form.translations, {fields : [form.title]}) }}
    {{ form_row(form.isMain) }}
    <a href="#" data-collection="delete">Delete</a>
</div>    
{% endblock %}